/* Cores principais */
:root {
  --primary-color: #2e7d32;  /* Verde harmonioso */
  --secondary-color: #1b5e20; /* Verde escuro para botões */
  --text-color: #ffffff;
  --background-color: #f4f4f4;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Estilo do cabeçalho */
header {
  background-color: var(--primary-color);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.site-logo {
  color: var(--text-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Mapa */
#map {
  height: 500px;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Formulário de Relatório */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
}

form h2 {
  font-size: 22px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 15px;
}

form label {
  font-weight: bold;
  color: #333;
}

form input, form select, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Botões */
button, .small-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

button:hover, .small-button:hover {
  background-color: #33691e; /* Verde um pouco mais escuro */
}

.rounded-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.rounded-button:hover {
  background-color: #33691e;
}

/* Tabs */
.tab {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.tab button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
}

.tab button:hover {
  background-color: #33691e;
}

.tab button.active {
  background-color: var(--secondary-color);
}

/* Rodapé */
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  border-top: 1px solid #eaeaea;
}

.footer-links a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
